
.quote{
    font-family: 'Dancing Script', cursive;
    font-size:70pt;
    width:600px;
    height:600px;
   margin:50px auto;
    padding:15px;
   background-color: rgba(255,255,255,.7)

}
h1{
    font-family: "Dancing script", cursive;
    font-size:50pt;
    margin-top:10pt;
    padding-top:10pt;
    text-shadow:2px 2px white;
}
