.attractions{
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4,400px);
    grid-template-rows: repeat(3,400px);
    grid-template-areas: 
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve"

}
.grid{
    font-size:20pt; 
    text-align: center; 

}
 img{
    width:300px;
    height:300px;
}
