.attractions{
    margin:0 auto;
    display: grid;
    /* width: 1000px;
    height:1200px; */
    border: solid black;
    grid-template-columns: repeat(4,400px);
    grid-template-rows: repeat(3,400px);
    grid-template-areas: 
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve"

}
.grid{
    font-size:20pt; 
    text-align: center; 

}
 img{
    width:200px;
    height:200px;
}
